
body
{
background-image:url("img-background-clock2-001.jpg");

}

#zero
{
margin-left:180px;
color:white;
font-size:40px;
font-weight:bold;
}

#three
{
margin-top:130px;
margin-left:370px;
color:white;
font-size:40px;
font-weight:bold;
}

#six
{

color:white;
font-size:40px;
font-weight:bold;
margin-top:120px;
margin-left:185px;
}

#nine
{
color:white;
font-size:40px;
font-weight:bold;
margin-top:-210px;
margin-left:5px;
}

#header{

text-align:center;
font-size:60px;
color:#F08080;
background-color:pink;
opacity:0.7;
}
#header:hover
{
background-color:white;
}


.clock-circle {
top:30px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  border: 15px solid #fff;
  border-radius: 90%;
  -webkit-box-shadow: 0 1px 8px rgba(34, 34, 34, 0.3),inset 0 1px 8px rgba(34, 34, 34, 0.3);
  /*box-shadow: 0 1px 8px rgba(34, 34, 34, 0.3),inset 0 1px 8px rgba(34, 34, 34, 0.3);  */
  //background: #4527A0;
}

.clock-circle:hover
{
background-color:pink;
}


.clock-face {
  width: 100%;
  height: 100%;
z-index:1000;
  }


#demo
{

font-size:40px;
text-align:center;
color:#778899;
background-color:#FFE4E1;
}

#demo:hover
{
color:red;


}

a
{
font-size:30px;

}
.clock-hour{
 margin:-4px 0 -4px -25%;
  padding:4px 0 4px 25%;
  background:#fff;
  -webkit-transform-origin:100% 50%;
  -ms-transform-origin:100% 50%;
  transform-origin:100% 50%;
  border-radius:25px 25px 25px 25px;
  width:0;
  height:0;
  position:absolute;
  top:50%;
  left:50%;
 
}
.clock-minute{
  width:0;
  height:0;
  position:absolute;
  top:50%;
  left:50%;
  margin:-40% -3px 0;
  padding:40% 3px 0;
  background:#fff;
  -webkit-transform-origin:50% 100%;
  -ms-transform-origin:50% 100%;
 transform-origin:50% 100%;  
  border-radius:3px 3px 0 0;
}

#back
{
background-color:grey;
z-index:-20;

width:900px;
height:450px;
opacity:0.3;
margin-top:-420px;
margin-left:-220px;
}
.clock-second{
 margin:-40% -1px 0 0;
  padding:40% 1px 0;
  background:#fff;
  -webkit-transform-origin:50% 100%;
  -ms-transform-origin:50% 100%;
  transform-origin:50% 100%;

  width:0;
  height:0;
  position:absolute;
  top:50%;
  left:50%;
 
  }
  
.clock-face:after {
    position:absolute;
    top:50%;
    left:50%;
    width:20px;
    height:20px;
    margin:-7px 0 0 -9px;
    background:#fff;
    border-radius:25px;
    content:"";
    display:block;
	
}


